.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.result__video-container {
  width: 711px;
  height: 386px;

}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
  line-height: 100%;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

input {
  font-weight: 400;
  font-size: 18px;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  border-left: none;
  border-right: none;
  color: #fff;
  background-color: inherit;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid currentColor;
}

.search-form__label:hover:has(input[type="checkbox"]) {
  text-decoration: underline;
}

.search-form__pseudo-checkbox {
  height: 19px;
  width: 19px;
  border: 1px solid currentColor;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: white;
  height: 100%;
  width: 100%;
  opacity: 0%;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__textfield {
  appearance: none;
}

.button {
  color: rgb(255, 255, 255);
  border: 1px solid currentColor;
  font-family: "Fira Sans Condensed", sans-serif;
  background-color: inherit;
  font-weight: 700;
  font-size: 18px;
}

.button:active {
  background-color: rgb(84, 80, 80);
}

button:hover {
  text-decoration: underline;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 1px solid currentColor;
}

.search-form__submit-button {
  height: 34px;
  width: 194px;
  align-self: flex-end;
}

.more-button {
  margin-top: 30px;
  height: 34px;
  width: 100%;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.content {
  width: 1140px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 15px;
  margin-bottom: 5px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 399px;
}

.title {
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__list-container {
  flex: 1;
  max-height: 298px;
  overflow-y: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding: 0 3px;
}

.content__list-item:focus {
  outline: none;
}

.content__list-item:focus-visible {
  outline: 1px solid currentColor;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.content__card-link:active {
  background-color: rgb(84, 80, 80);
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link_current {
  background-color: #1b1919;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 16, 2px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  overflow: hidden;
}

.search-form__pseudo-checkbox,
button,
input[type="checkbox"],
a {
  cursor: pointer;
}

.result__video-container,
.content__list-container {
  position: relative;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}